# Bases de données en Python

    Benoît Petitpas : benoit.petitpas@telecom-paristech.fr

# Introduction

Dans ce cours nous allons traiter des différentes manières d'agir sur des bases de données avec Python. 

Il existe de nombreux logiciels de gestion de bases de données relationnelle sur le marché comme postgresql, mysql, sqlite ... une base de données relationnelle se gère via du SQL, le langage de requête de bases de données. 

Nous allons donc dans ce cours étudier cette gestion de bases de données, mais au lieu d'utiliser des SGBD (système de gestion de bases de données), nous allons préférer gérer les bases via Python. 

De nombreuses bibliothèques de fonctions ont été développées pour interfacer du code python avec les différents SGBD. 
Ainsi par exemple psycopg est un paquet Python permettant de gérer une base de données Postgresql en Python. 

Dans ce cours nous allons utiliser sqlite. 
Sqlite est un système de gestion de base de données (SGBD) écrit en C qui sauvegarde la base sous forme d'un fichier multi-plateforme. 

Sqlite est souvent le moyen le plus rapide et le plus simple de gérer une base de données, et comme Python aime la simplicité il existe un paquet standard Python pour faire l'interface entre Python et sqlite.

La base de donnée est une notion des années 60. Mais le modèle relationnel date de 70 et les SGBD de 80. Les bases de données relationnelles sont basées sur la théorie des ensembles avec l'utilisation des opérateurs de l’algèbre relationnel (l'union, la différence, produit cartésien, la projection, la sélection, le quotient et la jointure)

**Base de données :**

C'est un ensemble d’informations structurées persistant.
Autres caractéristiques : Exhaustivité (toutes les infos requises pour le service que l'on attend) et Unicité (pas de doublons)

**SGBD :**

Qu'est-ce que c'est ? C'est un logiciel qui gère une BDD
Autre définition plus précise :
Un logiciel permettant de décrire et d'interagir avec un ensemble d'informations structurées pour satisfaire les besoins de plusieurs utilisateurs (en même temps éventuellement).

**Table :**

C'est une entité (semblable à un tableau) regroupant des caractéristiques exhaustives (sur un sujet donné). Les informations sont rangés dans la table Toutes les données d'une même colonne sont du même type. 

**Vocabulaire :**

TABLE composée de CHAMPS (ou ATTRIBUTS/RUBRIQUES) – C'est simple, il n'y a qu'un type d'objet principal : LA TABLE
Une table est la structure enveloppante dans laquelle seront stockées les données au format spécifié.
CHAMP : NOM_CHAMP TYPE [LONGUEUR] 

Problèmes rencontrés : Homonymie,  Redondance (contre le principe d'unicité) , erreurs de saisie 

Les services d'un SGBD :

Toujours un seul type d'objet : la table

Les liens sont logiques : ils n'ont pas besoins d'être décrits. Il suffit de les avoir pensés et traduits avec des clés externes.
1. Persistance : Disque Dur
2. Gestion de disque : transparente (pas util pour vous)
3. Partage des données : accès simultané à la même donnée (Contrôle de concurrence)
4. Fiabilité des données : reprise sur panne (pas util pour vous)
5. Sécurité des données : accès aux données protégé et sélectif
6. Interrogation ad hoc : Langage de requête

Les différents modèles :

Hiérarchique : arborescences.
Réseau : Plus de connexions entre les éléments (prédéfinies) -> Plus d'interrogations possibles.
Relationnel : Le plus utilisé.
Orienté objet : CF savoir plus
Relationnel étendu : Types complexes, index spatiaux….

Vocabulaire : 
Un élément d'une relation est appelé ENREGISTREMENT (ou RECORD, TUPLE, N-UPLET)

Langage d'interrogation : QUEL, QBE, SQL (normalisé).

### Utilisons le module sqlite de python

Nous devons tout d'abord importer le module sqlite3 (le 3 indiquant la version de sqlite.)

In [3]:
import sqlite3 # nous importons le paquet Python capable d'interagir avec sqlite

### Se connecter à la base de données

Le paquet sqlite3 contient la méthode `sqlite3.connect` qui offre tous les services de connections une base de données Sqlite

In [5]:
db_loc = sqlite3.connect('Notes.db')
# créer ou ouvre un fichier nommé 'Notes.db' qui doit donc se trouver dans le même
# répertoire que l'endroit où Python est lancé sinon :

#db_far = sqlite3.connect('/path/to/the/good/folder/Notes.db')
# ici deux bases sont créer, car aucune des deux n'éxiste

db_ram = sqlite3.connect(':memory:')
# Cette commande permet de créer une base de donnée en RAM
# (aucun fichier ne sera créer, il s'agit de cérer une base de données virtuelle). 
# Cela permet notamment de vérifier des commandes avant de les lancer sur une base
# de données où les opérations sont irréversibles.

Attention : n'oubliez pas que vous ouvrez une connection avec un fichier, il est donc
indispensable de fermer cette connection à la fin.

In [6]:
db_loc.close()
db_ram.close()

### Créer et supprimer des tables

Maintenant que la base est créée, il faut en construire l'ossature, c'est-à-dire les tables. Chaque table doit correspondre à une entité réel, par exemple la table 'élèves' correspond à toutes les infirmations nécessaires à la définition d'un élève. Lorqu'une table est défini, on définit en même temps le type et le nom de chaque champs, c'est-à-dire on définit chaque élément décrivant l'entité. Par exemple, lors de la création de la table élève, il faudra définir le champs 'nom' avec son type.

In [7]:
db_loc = sqlite3.connect('Notes.db')
cursor = db_loc.cursor()
# cursor est un object auquel on passe les commandes SQL en vue d'être executées.

In [8]:
cursor.execute('''CREATE TABLE eleve(
            id INTEGER PRIMARY KEY,
            name TEXT,
            first_name TEXT,
            classe TEXT);''')
# execute ne lance pas la commande
# il est important de noter le champ 'id' de type nombre entier qui sert de clef primaire

La clef primaire d'une table dans une base de données relationnelle sert d'identifiant unique à une entité. Par exemple, la clef primaire sert à connaitre un unique élève en particulier.
Le nom est une très mauvaise clef primaire car un même nom peut être partagé par plus d'un élève. 
Par habitude, un champ 'id' est souvent créer pour identifier chaque enregistrement de la table.

In [9]:
db_loc.commit()

la fonction 'commit' permet de 'lancer' la commande, c'est-à-dire que le commit permet de créer véritablement la table 'eleve' et de la sauvegarder dans 'Notes.db'.
Attention à ne jamais oublier de 'commit' vos commandes car sinon rien ne se passera.

In [7]:
# Pour supprimer la table il suffit de :
# cursor.execute('''DROP TABLE eleve;''')
# db_loc.commit()

Attention : la commande 'commit' est une fonction de 'bd_loc' et non de 'cursor'.

### Insérer des données dans la table

In [10]:
cursor.execute('''INSERT INTO eleve VALUES (1, 'Petitpas', 'Benoit', '4ieme3');''')

Chaque ajout de données passera par le mot clef SQL "INSERT INTO" suivi du nom de la table dans laquelle vous voulez ajouter des données. Suit alors le mot clef "VALUES" suivi des valeurs à ajouter en vérifiant que le type est le bon.

In [11]:
cursor.execute('''INSERT INTO eleve VALUES ("TOTO", "BLIP", "blop", "wizzz");''')

IntegrityError: datatype mismatch

In [12]:
db_loc.commit()

Un élève a été ajouté à la table. Maintenant comment faire pour ajouter des données de manière plus subtil :

In [13]:
name = "Pignon"
first_name = "Francois"
classe = "4ieme3"

cursor.execute('''INSERT INTO eleve VALUES (?,?,?,?);''', (2, name, first_name, classe))
# pourquoi cette formulation avec '?' plutôt que %s, à cause de l'injection
# de SQL qui est une attaque "classique" des hackers see : http://xkcd.com/327/

Remarques : le prénom est francois au lieu de françois, car le c cédille n'est pas standard en sqlite, il aurait fallu précisé à la création de la base le type utf8

Maintenant comment faire des insert plus rapide ?

In [14]:
eleves = [(3, "Hallyday", "Johnny", "5iemeB"), (4, "Mitchelle", "Eddy", "4ieme3"), (5, "Rivers", "Dick", "3ieme2")]
# liste de tuples contenant toutes les informations nécessaires pour ajouter les élèves à la base de données
cursor.executemany('''INSERT INTO eleve VALUES (?,?,?,?);''', eleves)

Et avec un dictionnaire ?

In [15]:
cursor.execute('''INSERT INTO eleve VALUES (:id,:name,:first_name,:classe);''',
               {'id':6,'name':"Cobain", "first_name":"Kurt","classe":"6ieme2"})

Oui mais maintenant je veux ajouter une personne et j'ai perdu le fil du compte des id :

In [16]:
last_id = cursor.lastrowid # last_id contient le dernière id ajouté
print('le dernier id est : %s' % last_id)

le dernier id est : 6

Evidemment c'est très util pour ajouter automatiquement un nouvel élève:

In [17]:
cursor.execute('''INSERT INTO eleve VALUES (?,?,?,?);''', ((cursor.lastrowid + 1), "Joplin", "Janice", "3ieme5"))

In [18]:
db_loc.commit()

### Accéder aux données

Parce que oui, des données ont été ajoutées mais quelles sont-elles déjà ? 
Pour selectionner des données, il faut utiliser la commande SQL "SELECT"

In [19]:
cursor.execute('''SELECT * FROM eleve;''')
first_eleve = cursor.fetchone() # récupère le premier élève
print(first_eleve)

(1, u'Petitpas', u'Benoit', u'4ieme3')

In [20]:
# le nom du premier élève :
print(first_eleve[1])

Petitpas

En effet la réponse est un tuple ! 
Pour afficher les information concernant le premier élève :

In [21]:
print("Le premier eleve s'appelle : %s %s de la classe %s" % (first_eleve[2], first_eleve[1], first_eleve[3]))
# l'indice du tuple commence à 0 mais est réservé à l'id de l'enregistrement

Le premier eleve s'appelle : Benoit Petitpas de la classe 4ieme3

In [22]:
# maintenant tous les élèves :
cursor.execute('''SELECT * FROM eleve;''')
eleves = cursor.fetchall()
for eleve in eleves:
    print("L'eleve n %s s'appelle : %s %s de la classe %s" % (eleve[0], eleve[2], eleve[1], eleve[3]))
    # eleve correspond à un enregistrement de la table
    # eleve[indice] correspond au champs correspondant de l'élève en question

L'eleve n 1 s'appelle : Benoit Petitpas de la classe 4ieme3
L'eleve n 2 s'appelle : Francois Pignon de la classe 4ieme3
L'eleve n 3 s'appelle : Johnny Hallyday de la classe 5iemeB
L'eleve n 4 s'appelle : Eddy Mitchelle de la classe 4ieme3
L'eleve n 5 s'appelle : Dick Rivers de la classe 3ieme2
L'eleve n 6 s'appelle : Kurt Cobain de la classe 6ieme2
L'eleve n 7 s'appelle : Janice Joplin de la classe 3ieme5

Maintenant un peu de pratique du SQL :

Pour selectionner des données il faut impérativement le commande SQL "SELECT" suivi du ou des champs souhaités. L'étoile correspondant à l'ensemble des champs.
Ensuite il faut obligatoirement le mote clef "FROM" suivi du nom de la table (lui dire d'où doivent provenir les données)

Maintenant il est possible de "filtrer" la selection.

Si l'on veut l'ensemble des nom de famille uniquement, il s'agit d'un filtrage sur les champs :

In [23]:
eleves = cursor.execute('''SELECT name FROM eleve;''')
# ici le passage par un argument évite le fetchall() mais les deux commandes sont équivalentes
for eleve in eleves:
    print(eleve)

(u'Petitpas',)
(u'Pignon',)
(u'Hallyday',)
(u'Mitchelle',)
(u'Rivers',)
(u'Cobain',)
(u'Joplin',)

Maintenant je veux seulement les élèves de la 4ieme 3.

Là, la selection se fait sur tous les champs mais "où" la classe est égale à "4ieme3".

Or le SQL ayant tendance à être simpliste le mot clef pour le filtrage des enregistrements est "WHERE":

In [24]:
eleves = cursor.execute('''SELECT * FROM eleve WHERE classe = "4ieme3";''')
for eleve in eleves:
    print(eleve)

(1, u'Petitpas', u'Benoit', u'4ieme3')
(2, u'Pignon', u'Francois', u'4ieme3')
(4, u'Mitchelle', u'Eddy', u'4ieme3')

On peut alors mixer les deux :

In [25]:
eleves = cursor.execute('''SELECT name, classe FROM eleve WHERE id > 3;''')
for eleve in eleves:
    print("les eleves ayant un id superieur a 3 sont : %s de la classe %s" % (eleve[0], eleve[1]))
    # important, comme je ne sélectionne que le nom et la classe le tuple de
    # sorti n'a que 2 valeurs, ainsi le nom sera à l'indice 0 et la classe à l'indice 1

les eleves ayant un id superieur a 3 sont : Mitchelle de la classe 4ieme3
les eleves ayant un id superieur a 3 sont : Rivers de la classe 3ieme2
les eleves ayant un id superieur a 3 sont : Cobain de la classe 6ieme2
les eleves ayant un id superieur a 3 sont : Joplin de la classe 3ieme5

Et si lors de séléction, je m'aperçois qu'une érreur s'est glissé ?

### Mettre à jour et supprimer des enregistrements

Les mots clefs que nous allons utiliser sont "UPDATE" et "DELETE"

In [26]:
cursor.execute('''INSERT INTO eleve VALUES (?,?,?,?);''', (8, "andrix", "gimi", "4ieme3"))

In [27]:
# Zut c'est Jimmy Hendrix
cursor.execute('''UPDATE eleve SET name = ?, first_name=? WHERE id = ? ''',("Hendrix", "Jimmy", 8))

In [28]:
# and now : 
cursor.execute('''SELECT first_name, name, classe FROM eleve WHERE id == 8;''')
eleve = cursor.fetchone()
print("l'eleve ayant un id egal a 8 est : %s %s de la classe %s"%(eleve[0],eleve[1], eleve[2]))

l'eleve ayant un id egal a 8 est : Jimmy Hendrix de la classe 4ieme3

On s'aperçoit que la mise est jour est assez classique :
Juste après le mot clef "UPDATE" on défini la table à mettre à jour.
Ensuite vien le mot clef "SET" après lequel on défini les champs à mettre à jour 
puis le mot clef where permettant de dire quel enregistrement doit être mis à jour.

Et la suppression ? C'est encore plus simple :

In [29]:
cursor.execute('''DELETE FROM eleve WHERE id = 8 ;''')

In [30]:
# and now : 
cursor.execute('''SELECT first_name, name, classe FROM eleve WHERE id == 8;''')
eleve = cursor.fetchone()
print("l'eleve ayant un id egal a 8 est : %s %s de la classe %s" % (eleve[0], eleve[1], eleve[2]))

TypeError: 'NoneType' object has no attribute '__getitem__'

On s'aperçoit qu'il n'y a plus d'enregistrement à l'id 8 car l'enregistrement à été effacé. Ainsi DELETE est juste suivi de FROM et du nom de la table ainsi que d'un WHERE permettant de selectionner l'enregistrement à supprimer.

"et ça, ça fait quoi ? " est la pire question à se poser. N'executer jamais un test sur votre base de données, utiliser une base de données bête en RAM pour tester:

In [31]:
cursor.execute('''DELETE FROM eleve;''') 
# oui vous lisez bien, il n'a plus de where
cursor.execute('''SELECT * FROM eleve ;''')
eleve = cursor.fetchone()
print("eleve ? %s" % (eleve[0]))

TypeError: 'NoneType' object has no attribute '__getitem__'

Voilà ! Le contenu de la table a été entièrement supprimé !

Bon bah il ne reste plus qu'à tout recommencer ou alors à supprimer la table. Supprimons la table !

In [32]:
cursor.execute('''DROP TABLE eleve; ''')

In [33]:
db_loc.commit()

Si jamais une erreur a été commise et avant un "commit" qui est DEFINITIF, il est possible de récupérer les informations depusi le dernier "commit" avec la commande "db_loc.rollback()"

In [34]:
db_loc.close()
db_ram.close()

# Récapitulatif SQL :

* Tous les noms changés seront marqués entre des dièses ##

* Connection : #nom_base_de_donnees# = sqlite3.connect(#':memory:' ou 'nom_db.db'#)

* Toujours passer par un "cursor" pour lancer des commandes SQL 

* Créer une table : ''' CREATE TABLE #nom_table# ( #nom_champs#   #TYPE_champs#    #PRIMARY KEY# , ...); '''

* Insérer des données dans la table : '''INSERT INTO #nom_table# VALUES (#valeur ou ?#);''', #si ? alors mettre ici la valeur correspondante#

* Sélection des données : '''SELECT #nom_champs ou *#  FROM #nom_table# WHERE #comparaison pour filtrage des enregistrements#;'''

En récapitulant une requête :

SELECT  *|expression [,expression ...]
FROM nom_table1 
[WHERE condition logique]

## Exercice

Créer une base de donnée SQLite nommé "Musicien.db"

Dans cette base créer une table "musicien" ayant pour champs :

* id de type INTEGER (clef primaire)
* nom de type TEXT
* age de type INTEGER
* instrument de type TEXT

Dans cette table, vous allez créer 5 musiciens :

* Joe Satriani de 40 ans jouant de la guitare
* Jimmy Page de 60 ans jouant de la guitare
* Lars Ulrich 50 ans jouant de la batterie
* Flea 52 ans jouant de la basse
* John Coltrane jouant du saxophone (John coltrane étant mort, on ne met pas d'age, à la place de l'âge on met la valeur NULL)

Ajouter 5 autres musiciens (potentiellement fictif, du moment qu'il joue l'un des instruments ci-dessus)

Ecriver la commande SQL qui affiche:

* toutes les informations de tous les musiciens
* le nom de tous les guitaristes
* l'intrument et l'age de tous les musiciens de plus de 50 ans

Ecrivez la commande SQL qui :

* modifie Flea en Michael Balzary
* modifie Joe Satriani de 40 à 57 ans et le fait jouer de la basse
* supprime john coltrane (encore!)
* supprime tous les musicien qui jouent de la basse (là à vous d'essayer)

In [35]:
db = sqlite3.connect(':memory:')
cur = db.cursor()
cur.execute("""CREATE TABLE musicien(
            id INTEGER PRIMARY KEY,
            nom TEXT,
            age INTEGER,
            instrument TEXT); """)
db.commit()

In [36]:
cur.execute('''INSERT INTO musicien VALUES (1, 'Joe Satriani', 40, 'guitare');''')
cur.execute('''INSERT INTO musicien VALUES (2, 'Jimmy Page', 60, 'guitare');''')
cur.execute('''INSERT INTO musicien VALUES (3, 'Lars Ulrich', 50, 'batterie');''')
cur.execute('''INSERT INTO musicien VALUES (4, 'Flea', 52, 'basse');''')
cur.execute('''INSERT INTO musicien VALUES (5, 'John Coltrane', NULL , 'Saxophone');''')
db.commit()

In [37]:
musiciens = cur.execute('''SELECT * FROM musicien;''')
for musicien in musiciens:
    print musicien

(1, u'Joe Satriani', 40, u'guitare')
(2, u'Jimmy Page', 60, u'guitare')
(3, u'Lars Ulrich', 50, u'batterie')
(4, u'Flea', 52, u'basse')
(5, u'John Coltrane', None, u'Saxophone')

In [38]:
musiciens = cur.execute('''SELECT * FROM musicien WHERE instrument = "guitare";''')
for musicien in musiciens:
    print musicien

(1, u'Joe Satriani', 40, u'guitare')
(2, u'Jimmy Page', 60, u'guitare')

In [39]:
musiciens = cur.execute('''SELECT * FROM musicien WHERE age > 50;''')
for musicien in musiciens:
    print musicien

(2, u'Jimmy Page', 60, u'guitare')
(4, u'Flea', 52, u'basse')

In [40]:
cur.execute('''UPDATE musicien SET nom = ? WHERE id = ? ;''',("Michael Balzary", 4))

In [41]:
cur.execute('''UPDATE musicien SET age = ? , instrument = ? WHERE id = ? ;''',(57, "basse", 1))

In [42]:
cur.execute('''DELETE FROM musicien WHERE id = 5 ;''')

In [43]:
musiciens = cur.execute('''SELECT * FROM musicien;''')
for musicien in musiciens:
    print musicien

(1, u'Joe Satriani', 57, u'basse')
(2, u'Jimmy Page', 60, u'guitare')
(3, u'Lars Ulrich', 50, u'batterie')
(4, u'Michael Balzary', 52, u'basse')

In [44]:
cur.execute('''DELETE FROM musicien WHERE instrument = "basse" ;''')

In [45]:
musiciens = cur.execute('''SELECT * FROM musicien;''')
for musicien in musiciens:
    print musicien

(2, u'Jimmy Page', 60, u'guitare')
(3, u'Lars Ulrich', 50, u'batterie')

In [47]:
db.commit()

In [51]:
cur.execute('''CREATE TABLE groupe(id INTEGER PRIMARY KEY, name_groupe TEXT, style TEXT); ''')

In [52]:
db.commit()

In [53]:
cur.execute('''INSERT INTO groupe VALUES (1, "Led Zepplin", "Hard Rock"); ''')

In [54]:
cur.executemany('''INSERT INTO groupe VALUES (?,?,?);''',[(2,"Metallica","Metal"),(3,"Red Hot Chilli Papper","Rock Funk")])

In [55]:
all = cur.execute('''SELECT * FROM musicien, groupe;''')
for a in all:
    print a

(2, u'Jimmy Page', 60, u'guitare', 1, u'Led Zepplin', u'Hard Rock')
(2, u'Jimmy Page', 60, u'guitare', 2, u'Metallica', u'Metal')
(2, u'Jimmy Page', 60, u'guitare', 3, u'Red Hot Chilli Papper', u'Rock Funk')
(3, u'Lars Ulrich', 50, u'batterie', 1, u'Led Zepplin', u'Hard Rock')
(3, u'Lars Ulrich', 50, u'batterie', 2, u'Metallica', u'Metal')
(3, u'Lars Ulrich', 50, u'batterie', 3, u'Red Hot Chilli Papper', u'Rock Funk')

Problème : Comment mettre en relation les tables ? Il faut une valeur qui mettent en RELATION les deux tables ! 
Cette valeur est appelé la clef étrangère !

C'est un champ qui permet de mettre en ralation deux tables ... Oui mais je met la clef dans quelle table :

Si je met le champ dans la table "groupe" : 
Je vais créer un champs "clef_musicien" et je ne vais remplir ce champs qu'une seule fois ! 
Donc cela reviens à dire qu'un groupe ne comporte qu'un seul musicien!
C'est pas bon !


Si je met le champ dans la table "musicien" : 
Je vais créer le champ et à chaque musicien je vais pouvoir associer l'identifiant d'un groupe.

## Exercice

Droper la table musicien

re-créer là en rajoutant le champs clef_groupe

remettez les enregistrements du début EN spécifiant à quelle groupe il appartient

In [58]:
cur.execute('''DROP TABLE musicien; ''')

In [59]:
cur.execute('''CREATE TABLE musicien(id INTEGER, name TEXT, age INTEGER, instrument TEXT, clef_groupe INTEGER); ''')

In [61]:
musiciens = [(1, 'Joe Satriani', 40, 'guitare', None),(2, 'Jimmy Page', 60, 'guitare', 1),(3, 'Lars Ulrich', 50, 'batterie',2),(4, 'Flea', 52, 'basse',3),(5, 'John Coltrane', None , 'Saxophone', None)]

In [62]:
cur.executemany('''INSERT INTO musicien VALUES (?,?,?,?,?); ''',musiciens)

In [63]:
all = cur.execute('''SELECT * FROM musicien, groupe;''')
for a in all:
    print a

(1, u'Joe Satriani', 40, u'guitare', None, 1, u'Led Zepplin', u'Hard Rock')
(1, u'Joe Satriani', 40, u'guitare', None, 2, u'Metallica', u'Metal')
(1, u'Joe Satriani', 40, u'guitare', None, 3, u'Red Hot Chilli Papper', u'Rock Funk')
(2, u'Jimmy Page', 60, u'guitare', 1, 1, u'Led Zepplin', u'Hard Rock')
(2, u'Jimmy Page', 60, u'guitare', 1, 2, u'Metallica', u'Metal')
(2, u'Jimmy Page', 60, u'guitare', 1, 3, u'Red Hot Chilli Papper', u'Rock Funk')
(3, u'Lars Ulrich', 50, u'batterie', 2, 1, u'Led Zepplin', u'Hard Rock')
(3, u'Lars Ulrich', 50, u'batterie', 2, 2, u'Metallica', u'Metal')
(3, u'Lars Ulrich', 50, u'batterie', 2, 3, u'Red Hot Chilli Papper', u'Rock Funk')
(4, u'Flea', 52, u'basse', 3, 1, u'Led Zepplin', u'Hard Rock')
(4, u'Flea', 52, u'basse', 3, 2, u'Metallica', u'Metal')
(4, u'Flea', 52, u'basse', 3, 3, u'Red Hot Chilli Papper', u'Rock Funk')
(5, u'John Coltrane', None, u'Saxophone', None, 1, u'Led Zepplin', u'Hard Rock')
(5, u'John Coltrane', None, u'Saxophone', None, 2, u'Metallica', u'Metal')
(5, u'John Coltrane', None, u'Saxophone', None, 3, u'Red Hot Chilli Papper', u'Rock Funk')

Flute Alors ça ne marche pas !

Et oui le SQL est idiot, il faut lui spécifier la relation :

In [64]:
all = cur.execute('''SELECT * FROM musicien, groupe WHERE musicien.clef_groupe = groupe.id;''')
for a in all:
    print a

(2, u'Jimmy Page', 60, u'guitare', 1, 1, u'Led Zepplin', u'Hard Rock')
(3, u'Lars Ulrich', 50, u'batterie', 2, 2, u'Metallica', u'Metal')
(4, u'Flea', 52, u'basse', 3, 3, u'Red Hot Chilli Papper', u'Rock Funk')

Et oui on introduit une nouvelle notation en SQL : le point ! 

Lorsque deux tables sont utilisées il faut spécifié d'où viennent les champs utilisés :

In [67]:
all = cur.execute('''SELECT musicien.name, groupe.name_groupe, groupe.style, musicien.instrument FROM musicien, groupe WHERE musicien.clef_groupe = groupe.id;''')
for a in all:
    print """l'artiste %s du groupe %s fait du %s sur son instrument %s """%(a[0],a[1],a[2],a[3])

l'artiste Jimmy Page du groupe Led Zepplin fait du Hard Rock sur son instrument guitare
l'artiste Lars Ulrich du groupe Metallica fait du Metal sur son instrument batterie
l'artiste Flea du groupe Red Hot Chilli Papper fait du Rock Funk sur son instrument basse

Maintenant c'est long décrire tout ça : On peut donc faire des ALIAS avec le mot clef AS:

In [69]:
all = cur.execute('''SELECT m.name, g.name_groupe, g.style, m.instrument FROM musicien AS m, groupe AS g WHERE m.clef_groupe = g.id;''')
for a in all:
    print """l'artiste %s du groupe %s fait du %s sur son instrument %s """%(a[0],a[1],a[2],a[3])

l'artiste Jimmy Page du groupe Led Zepplin fait du Hard Rock sur son instrument guitare
l'artiste Lars Ulrich du groupe Metallica fait du Metal sur son instrument batterie
l'artiste Flea du groupe Red Hot Chilli Papper fait du Rock Funk sur son instrument basse

Après s'il l'on veut afficher le nombre de musiciens on utilise les fonctions d'aggréga :
count, max etc ...

In [75]:
nb_m = cur.execute('''SELECT count(*) FROM musicien;''')
print nb_m.fetchone()

(5,)

In [76]:
nb_m = cur.execute('''SELECT max(id) FROM musicien;''')
print nb_m.fetchone()

(5,)

Maintenant je veux le nombre de musiciens PAR instruments ? ........

Je vais utiliser la commande GROUP BY (grouper par !)

In [79]:
nb_inst = cur.execute('''SELECT instrument, count(*) FROM musicien GROUP BY instrument;''')
for nb in nb_inst:
    print """%s : %s """%(nb[0], nb[1])

Saxophone : 1
basse : 1
batterie : 1
guitare : 2